.projects{
    margin-top: 30vh;
    color: #FFFDD0;
    align-items: center;
    text-align: center;
    margin-bottom: 20vh;
}

.github-calendar{
    padding-left: 25vh;
}

.project-card{
    padding-top: 8%;
    text-align: left;
    padding-left: 10vh;
    padding-bottom: 8%;
   }

.tech{
   padding-top: 2%;
}