.contact{
    color:  #FFFDD0;
    margin-top: 30vh;
    text-align: center;
    align-items: center;
     padding-bottom: 10%;
}

.socials{
    color:#FFFDD0 ;
    padding-top: 5%;
}

.info{
    padding-top: 5%;
    margin-left: 20vh;
    text-align: left;
   }