.achievements{
    margin-top: 30vh;
    margin-bottom: 20vh;
    text-align: center;
    align-items: center;
}

.snapshot{
    padding-top: 5%;
    padding-left: 20vh;
    padding-right: 20vh;
    text-align: left;
}