.achievements-section {
  margin: 10vh auto;
  padding: 0 2%;
  font-family: 'Arial', sans-serif;
  text-align: center;
  color: #222;
  margin-top: 20%;
  align-items: center;
}

.section-heading {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 40px;
  color: black;
  margin-bottom: 3%;
}

.category {
  margin-bottom: 50px;
}

.category h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #555;
}

.achievement-card {
  background: #fff;
  border-radius: 12px;
  padding: 20px 25px;
  margin-bottom: 30px;
  text-align: left;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 10px 20px rgba(0,0,0,0.08);
  transition: transform 0.3s, box-shadow 0.3s;
}

.achievement-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 15px 25px rgba(0,0,0,0.15);
}

.achievement-card h3 {
  font-size: 1.2rem;
  margin-bottom: 5px;
  font-weight: 700;
}

.date {
  font-size: 0.95rem;
  color: #777;
  margin-bottom: 10px;
}

.achievement-card ul {
  margin-left: 20px;
  margin-bottom: 10px;
}

.achievement-card li {
  margin-bottom: 6px;
  line-height: 1.5;
}

.achievement-img {
  margin-top: 15px;
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
