#navbar {
  background: rgba(255, 255, 255, 0.15) !important;
  backdrop-filter: blur(10px);
  padding: 1rem;
  position: fixed;
  width: 95%;
  height: 70px;
  left: 50%;
  transform: translateX(-50%);
  top: 2rem;
  border-radius: 25px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.5);
  /* padding-left: 20%; */
  z-index: 1000;
  justify-content: space-between;
}


.navbar .nav-link {
  color: white !important;
  font-weight: light;
  transition: color 0.3s ease;
  justify-content: space-between;
 }

.nav-item{
    padding-left: 65px;
    font-size: large;
    font-family: "Montserrat", sans-serif;
    color: #FFDB58;
  
}