.about {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin: 10vh auto 10vh auto;
  padding: 0 5vw;
  animation: fadeInUp 0.8s ease;
  flex-wrap: wrap; 
  margin-top: 10%;
 }

.image {
  flex: 1;
  min-width: 250px;
  max-width: 350px;
  text-align: center;
}

.profile-img {
  width: 100%;
  border-radius: 20px;
  object-fit: cover;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.18);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.profile-img:hover {
  transform: translateY(-6px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.25);
}

.description {
  flex: 2;
  min-width: 300px;
  max-width: 700px;
}

.description h1 {
  font-size: 2.4rem;
  color: #1A1A1A;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: left;
}

.description h1 span {
  color: #A38B71; 
}

.description h4 {
  font-size: 1.1rem;
  line-height: 1.8;
  color: #4C4C4C;
  text-align: left;
}

/* Fade-in animation */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


@media (max-width: 768px) {
  .about {
    flex-direction: column;
    gap: 30px;
    margin-top: 8vh;
  }

  .description h1 {
    font-size: 2rem;
    text-align: center;
  }

  .description h4 {
    font-size: 1rem;
    text-align: center;
  }

  .image {
    max-width: 300px;
  }
}

