.about{
    margin-top: 30vh;
    margin-bottom: 20vh;
    align-items: center;
    text-align: center;
}

.about h4{
    padding-left: 20vh;
    padding-right: 20vh;
    text-align: center;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.card{
    height: 600px;
    width: 700px;
    margin-left: 45vh;
    align-items: center;
    border: 1px solid #FFFDD0;
    border-radius: 20px;
    margin-bottom: 5%;
    box-shadow: 2px 4px 4px 8px gold;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
     animation: fadeInUp 0.6s ease forwards;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card-img-top{
    height:600px ;
    width: 700px;
}