.achievements {
  margin: 10vh auto 10vh auto;
  text-align: center;
  padding: 0 2%;
  font-family: 'Arial', sans-serif;
  color: #222;
   margin-top: 20%;
}

.achievements-heading {
  font-size: 2rem;
  margin-bottom: 40px;
  font-weight: 700;
  color: black;
   margin-bottom: 5%;
}

.certifications-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  justify-items: center;
  align-items: start;
}

.cert-card {
  background: #fff;
  border-radius: 12px;
  padding: 25px 20px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.08);
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  width: 100%;
  max-width: 300px;
}

.cert-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 15px 25px rgba(0,0,0,0.15);
}

.cert-icon {
  font-size: 2rem;
  color: #4b4bff;
  margin-bottom: 15px;
}

.cert-title {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 5px;
}

.cert-platform {
  font-size: 0.95rem;
  font-weight: 500;
  color: #555;
  margin-bottom: 10px;
}

.cert-desc {
  font-size: 0.9rem;
  margin-bottom: 15px;
}

.cert-link {
  text-decoration: none;
  color: #ff4bff;
  font-weight: 600;
  transition: color 0.3s;
}

.cert-link:hover {
  color: #4b4bff;
}
